
/* Stylesheet for Dasmoto Art's and Craft */

h1 {
	font-family:Helvetica;
	font-size:100px;
	font-weight:bold;
	color:khaki;
	text-align:center;
	background-image:url('images/pattern.jpeg');
}

#brushes,#frame,#paint {
	font-family:Helvetica;
	font-size:32px;
	font-weight:bold;
	color:white;
}

#brushes {
	background-color:mediumspringgreen;
}

#frame {
	background-color:lightcoral;
}
#paint {
	background-color:skyblue;
}

.price {
	font-family:Helvetica;
	font-weight:bold;
	color:blue;
}